###############################################################
# OS X/Windows temporary files that should never be committed #
###############################################################
[Tt]humbs.db
ehthumbs.db
.DS_Store
*.swp
*.lock
*.out
*.bkp
*-bkp
*.old
*.hmap
.Trashes
*~
Desktop.ini
*.tmp

###############################################################
# Binary folder                                               #
###############################################################
bin/

###############################################################
# Deploy folder                                               #
###############################################################
deploy/

###############################################################
# Pkg folder excluded                                         #
###############################################################
pkg/
_libs/pkg

###############################################################
# Test coverage results excluded                              #
###############################################################
src/test/coverageresults
*.coverprofile



*.prefs
